#root {
  text-align: center;
}

textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  resize: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input:focus {
  outline:none;
  border-color: blueviolet
}

.auctionButton {
  height: 3vh
}

.nftButton:hover {
  border: "solid white 1rem"
}

button {
  color: black !important;
}

.mintButton {
  animation-name: mintButton;
  animation-duration: .25s;
  animation-fill-mode: forwards;
  border-radius: .25rem;
}

.mintButton:hover {
  animation-name: mintButtonUndo;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

@keyframes mintButton {
  0% {
    transform: scale(1.03, 1.03);
  }

  100% {
    transform: scale(1.0, 1.0);
  }
}

@keyframes mintButtonUndo {
    0% {
      transform: scale(1.0, 1.0);
    }

    100% {
      transform: scale(1.03, 1.03);
    }
}

.collectionImg {
  animation-name: iconhoverundo;
  animation-duration: .25s;
  animation-fill-mode: forwards;
  border-radius: .25rem;
}

.collectionImg:hover {
  animation-name: iconhover;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

.auctioninput:focus {outline:none!important;}

.collectionGrid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  display: grid;
  width: 100%;
  gap: .25rem;
}

.collectionGrid800 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  display: grid;
  width: 100%;
  gap: .25rem;
}

.collectionGrid300 {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  display: grid;
  width: 100%;
  gap: .25rem;
}

.header {
  margin: 1rem;
}

.header > button {
  height: "10%";
}

.actionSheetHide {
  animation-name: actionSheetHide;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

@keyframes actionSheetHide {
  0% {
    top: 150;
  }

  100% {
    top: 0;
  }
}


.actionSheetDisplay {
  animation-name: actionSheetDisplay;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

@keyframes actionSheetDisplay {
  0% {
    top: 0;
  }

  100% {
    top: 150;
  }
}

.actionSheetHover:hover {
  background-color: #888;
  border-radius: .5rem;
}

.purchaseToken {
  animation-name: iconhoverundo;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

.purchaseToken:hover {
  animation-name: iconhover;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

@keyframes iconhoverundo {
  0% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1.0, 1.0);
  }
}

@keyframes iconhover {
    0% {
      transform: scale(1.0, 1.0);
    }

    100% {
      transform: scale(1.2, 1.2);
    }
}

.connectMetamask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connectMetamask > button {
  height: 30vh;
  width: 50vw;
  max-width: 500px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
